#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end##

import io.cucumber.junit.CucumberOptions;
import net.serenitybdd.cucumber.CucumberWithSerenity;
import org.junit.runner.RunWith;
@RunWith(CucumberWithSerenity.class)
@CucumberOptions(
features = {"$featureFile"},
plugin = #stringArray($plugins),
#if(!$featureFile.contains(".feature:") && $tags)
tags = "$tags",
#end
glue = #stringArray($glue))
public class $className {
}